<html>
	<head>
		<title>Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>
		{% for post in posts %}
			{% if post.published_date !=  null %}
			<div>
				<p>Publish Date : {{post.published_date}}</p>
				<h2>Title : <a href="">{{post.title}}</a></h2>
				<p>Text : {{post.text | linebreaksbr}}</p>
			</div>
			{% else %}
			<div>
				<h2>Title : <a href="">{{post.title}} is not published</a></h2>
			</div>
			{% endif %}
		{% endfor%}
	</body>
</html>